@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@300;400;600;700&display=swap");
.categories-box, .btn, .slider-container, .profil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews, .about, .products, .categories {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 99;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 20px 50px;
  transition: 0.5s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.profil {
  column-gap: 0.5rem;
  cursor: pointer;
}

.profil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profil span {
  font-size: 14px;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(24, 24, 24);
}

.logo span {
  column-gap: 0.5rem;
}

.logo .bx {
  color: rgb(122, 5, 5);
  font-size: 2rem;
}

.navigation {
  display: flex;
  column-gap: 0.5rem;
}

.navigation a {
  font-size: 1rem;
  color: rgb(24, 24, 24);
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.navigation a:hover,
.navigation a.active {
  color: #f1f1f1;
  background-color: rgb(122, 5, 5);
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

#burger-menu {
  font-size: 2rem;
  cursor: pointer;
  z-index: 99;
  display: none;
}

@media (max-width: 852px) {
  header {
    padding: 12px 4%;
  }
  .navigation {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    transition: 0.2s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .navigation a {
    display: block;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }
  .navigation a:hover {
    background-color: rgb(122, 5, 5);
  }
  .navigation.active {
    top: 100%;
  }
}
@media (max-width: 600px) {
  .profil span {
    display: none;
  }
}
.slider-container {
  position: relative;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
  background-image: url("../../assets/images/img-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-container img {
  width: 400px;
  position: absolute;
  right: 150px;
  bottom: 0px;
}

.btn {
  display: inline-block;
  width: 170px;
  height: 50px;
  background-color: rgb(122, 5, 5);
  color: #f1f1f1;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background: rgb(233, 155, 155);
}
.btn::after {
  display: none;
}

.home-txt {
  padding: 0 150px;
}

.home-txt span {
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(233, 155, 155);
}

.home-txt h1 {
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 700;
  margin: 1rem 0;
}

.swiper-button-next {
  background: no-repeat center/cover url("../../assets/images/right.png");
  margin-right: 20px;
  background-size: 100% auto;
}

.swiper-button-prev {
  background: no-repeat center/cover url("../../assets/images/left.png");
  margin-left: 20px;
  background-size: 100% auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

@media (max-width: 852px) {
  .home-txt {
    padding: 0 100px;
  }
  .slider-container img {
    width: 390px;
    right: 20px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    margin: 0;
  }
}
@media (max-width: 852px) {
  #burger-menu {
    display: block;
  }
}
@media (max-width: 600px) {
  .home-txt {
    padding: 0 20px;
    padding-bottom: 17px;
    margin-top: -250px;
  }
  .slider-container img {
    right: 0;
  }
}
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-heading h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.section-heading span {
  color: rgb(233, 155, 155);
}

.categories-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  grid-gap: 1rem;
  margin-top: 2rem;
}

.categories-box {
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
}

.categories-box img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.categories-box h3 {
  font-size: 1rem;
  font-weight: 600;
}

.categories-box span {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.categories-box .bx {
  padding: 10px;
  background-color: rgb(122, 5, 5);
  color: rgb(233, 155, 155);
  border-radius: 5rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -8%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.categories-box:hover .bx {
  opacity: 1;
}

.categories-box1 {
  background-color: rgb(255, 222, 222);
}

.categories-box2 {
  background-color: rgb(255, 248, 222);
}

.categories-box3 {
  background-color: rgb(233, 255, 222);
}

.categories-box4 {
  background-color: rgb(255, 233, 255);
}

.categories-box5 {
  background-color: rgb(255, 222, 254);
}

@media (max-width: 600px) {
  .section-heading {
    flex-direction: column;
    text-align: center;
  }
  .section-heading .btn {
    margin-top: 1.5rem;
    width: 150px;
  }
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.products-box {
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}

.products-box img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.products-box span {
  font-weight: 400;
  font-size: 12px;
}

.products-box h4 {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(233, 155, 155);
}

.products-box .price {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: rgb(122, 5, 5);
}

.products-box .bx-cart-add {
  color: rgb(24, 24, 24);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgb(122, 5, 5);
  font-size: 1.5rem;
  border-radius: 1rem 0 0 0;
  cursor: pointer;
  color: #f1f1f1;
  transition: 0.2s ease-in-out;
}
.products-box .bx-cart-add:hover {
  background-color: rgb(233, 155, 155);
}

.products-box .bx-heart {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.3rem;
  color: rgb(233, 197, 155);
  transition: 0.2s ease-in-out;
}
.products-box .bx-heart:hover {
  color: rgb(216, 117, 3);
}

.discount {
  position: absolute;
  top: 1rem;
  right: 0;
  background-color: rgb(216, 117, 3);
  color: rgb(233, 197, 155);
  padding: 0.5rem 2rem 0.5rem 1rem;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

@media (max-width: 852px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 0.1rem;
  align-items: center;
}

.about .about-txt span {
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(233, 155, 155);
}

.about .about-txt p {
  margin: 1rem 0;
}

@media (max-width: 852px) {
  .about {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}
.reviews h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.avis-content {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
}

.avis-box {
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid rgb(122, 5, 5);
  transition: 0.2s ease-in-out;
}
.avis-box:hover {
  transform: translateY(-1rem);
}

.avis-box .bxs-quote-alt-left {
  color: rgb(122, 5, 5);
  font-size: 1.6rem;
}

.avis-box .stars {
  font-size: 1rem;
  color: orange;
}

.avis-box p {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.avis-box .avis-profil {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.avis-box .avis-profil img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

.avis-box .avis-profil h6 {
  font-size: 1.2rem;
}

@media (max-width: 852px) {
  .avis-content {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}
footer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: rgb(233, 155, 155);
  padding: 1rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box p {
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem;
}

.footer-social .bx {
  padding: 10px;
  background-color: #f1f1f1;
  color: rgb(122, 5, 5);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.footer-social .bx:hover {
  background-color: rgb(122, 5, 5);
  color: #f1f1f1;
}

.footer-box h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-box a {
  color: rgb(122, 5, 5);
}
.footer-box a:hover {
  color: #f1f1f1;
}

.footer-box form {
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  border-bottom: 1px solid rgb(122, 5, 5);
}

.footer-box form input {
  outline: none;
  border: none;
  background: none;
  color: #f1f1f1;
}
.footer-box form input::placeholder {
  color: #f1f1f1;
}

.footer-box form .bx {
  color: rgb(122, 5, 5);
  font-size: 1.5rem;
}

.footer-boxform .bx-right-arrow-alt {
  cursor: pointer;
}

.copy {
  text-align: center;
  font-size: 13px;
  padding: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(24, 24, 24);
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mochiy Pop One", sans-serif;
}

img {
  width: 100%;
}

section {
  padding: 5rem 0 1rem;
}

@media screen and (max-width: 852px) {
  section {
    padding: 50px 4%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */