.about {
  @extend %section-position;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 0.1rem;
  align-items: center;
}

.about .about-txt span {
  font-weight: 400;
  text-transform: uppercase;
  color: $light-red;
}

.about .about-txt p {
    margin:1rem 0;
}

@media (max-width: $tablet-width) {
  .about {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}