
footer {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    background-color: $light-red;
    padding: 1rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box p {
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem;
}

.footer-social .bx {
    padding: 10px;
    background-color: $bg-color;
    color: $dark-red;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: $dark-red;
        color: $bg-color;
    }
}

.footer-box h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a {
    color: $dark-red;
    &:hover {
        color: $bg-color;
    }
}

.footer-box form {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-bottom: 1px solid $dark-red;
}

.footer-box form input {
    outline: none;
    border: none;
    background: none;
    color: $bg-color;
    &::placeholder {
        color: $bg-color;
    }
    
}

.footer-box form .bx {
    color: $dark-red;
    font-size: 1.5rem;
}

.footer-boxform .bx-right-arrow-alt {
    cursor: pointer;
}

.copy {
    text-align: center;
    font-size: 13px;
    padding: 0.5rem ;
}

