.products {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.products-box {
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 0.5rem;
}

.products-box img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.products-box span {
  font-weight: 400;
  font-size: 12px;
}

.products-box h4 {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: $light-red;
}

.products-box .price {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: $dark-red;
}

.products-box .bx-cart-add {
  color: $text;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: $dark-red;
  font-size: 1.5rem;
  border-radius: 1rem 0 0 0;
  cursor: pointer;
  color: $bg-color;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $light-red;
  }
}

.products-box .bx-heart {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.3rem;
  color: $light-orange;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $dark-orange;
  }
}

.discount {
  position: absolute;
  top: 1rem;
  right: 0;
  background-color: $dark-orange;
  color: $light-orange;
  padding: 0.5rem 2rem 0.5rem 1rem;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
