// variables.scss
$font-family: "Poppins", sans-serif;
$font-title: "Mochiy Pop One", sans-serif;
$text: rgb(24, 24, 24);

$light-orange: rgba(233, 197, 155);
$dark-orange: rgba(216, 117, 3);
$light-red: rgba(233, 155, 155);
$dark-red: rgba(122, 5, 5);
$bg-color: #f1f1f1;

$mobile-width: 600px;
$tablet-width: 1024px;
